<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>站点首页</title>
    {include file="public/head.tpl"}
</head>
<body>
    <div class="body">
        {include file="public/header.tpl"}
        <div class="kong kong35"></div>
        <div class="main-wrap">
            <div class="main">
                <ul class="info-list">
                    <li class="set-base">
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-lock">&nbsp;</span>
                                    <span class="icon icon-recommend-1">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 •回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li class="set-top">
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-lock">&nbsp;</span>
                                    <span class="icon icon-recommend-3">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li class="set-hover">
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-recommend-1">&nbsp;</span>
                                    <span class="icon icon-recommend-2">&nbsp;</span>
                                    <span class="icon icon-recommend-3">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-lock">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-recommend-1">&nbsp;</span>
                                    <span class="icon icon-recommend-2">&nbsp;</span>
                                    <span class="icon icon-recommend-3">&nbsp;</span>
                                    <span class="icon icon-hot-1">&nbsp;</span>
                                    <span class="icon icon-hot-2">&nbsp;</span>
                                    <span class="icon icon-hot-3">&nbsp;</span>
                                    <span class="icon icon-pin-1">&nbsp;</span>
                                    <span class="icon icon-pin-2">&nbsp;</span>
                                    <span class="icon icon-pin-3">&nbsp;</span>
                                    <span class="icon icon-lock">&nbsp;</span>
                                    <span class="icon icon-viewpay">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-hot-2">&nbsp;</span>
                                    <span class="icon icon-recommend-1">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                    <span class="icon icon-recommend-2">&nbsp;</span>
                                    <span class="icon icon-recommend-3">&nbsp;</span>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="list-user">
                                <a href="#">
                                    <img src="__STATIC__/img/demo/user-head-50.jpg" width="50" height="50" />
                                </a>
                            </div>
                            <div class="list-info">
                                <h3><em>[<a class="cate" href="">分类</a>]</em>
                                    <a class="name" href="">这个是内容的标题文字，这里的文字需要对字数进行控制</a>
                                </h3>
                                <p>发布:2014-07-04@乌云龙 • 回复:2014-07-06@小妹</p>
                            </div>
                            <div class="list-num">
                                <b>200</b>
                                <span>40699</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="page">
                    <span class="page-navi-prev">上一页</span>
                    <a href="#" class="page-navi-page">1</a>
                    <span class="page-navi-ellipsis">...</span>
                    <a href="#" class="page-navi-page">5</a>
                    <a href="#" class="page-navi-page">6</a>
                    <a href="#" class="page-navi-page">7</a>
                    <span class="page-navi-now">8</span>
                    <a href="#" class="page-navi-page">9</a>
                    <a href="#" class="page-navi-page">10</a>
                    <a href="#" class="page-navi-page">11</a>
                    <span class="page-navi-ellipsis">...</span>
                    <a href="#" class="page-navi-page" >101</a>
                    <a href="#" class="page-navi-next">下一页</a>
                </div>
            </div>
        </div>
        <div class="kong kong35"></div>
        {include file="public/footer.tpl"}
    </div>
</body>
</html>