<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>内容详情</title>
    {include file="public/head.tpl"}
</head>
<body>
    <div class="body">
        {include file="public/header.tpl"}
        {include file="public/mbx.tpl"}
        <div class="main-wrap">
            <div class="main main-column-2">
                <div class="main-left">
                    <p class="info-num">查看<b>2000</b>&nbsp;&nbsp;评论<b>200</b></p>
                    <div class="info-user">
                        <a href="#">
                            <img src="__STATIC__/img/demo/100.gif" width="100" height="100">
                            <span>这里是用户名</span>
                        </a>
                    </div>
                </div>
                <div class="main-right">
                    <h3 class="info-title">这个是标题文字，这里的文字在发布的时候就需要有字数的限制。</h3>
                    <div class="info-body">
                        <p class="info-desc">2014-07-24 12:20</p>
<pre data-language="php" class="pre">
&lt;?php
    $to = "someone@example.com";
    $subject = "Test mail";
    $message = "Hello! This is a simple email message.";
    $from = "someonelse@example.com";
    $headers = "From: $from";
    mail ($to,$subject,$message,$headers);
    echo "Mail Sent.";

    function demo($str){
        return $str;
    }
?&gt;
</pre>
                    </div>

                    <div class="info-score">
                        <h3 class="title"><span class="icon icon-score">&nbsp;</span>评分</h3>
                        <div class="info-score-body">
                            <div class="time-list time-list-title">
                                <p>2014-07-25</p><b></b>
                            </div>
                            <div class="time-list time-list-info">
                                <div class="time-list-left">2014-07-25 12:00:12.128</div>
                                <div class="time-list-right">
                                    <a class="user-name" href="#">黄莉莉</a>
                                    <span class="user-address">(来自山东 192.106.22.56)</span>
                                    <span class="info">加油了本文章，积分 <b> +2</b></span>
                                    <span class="from from-android">安卓客户端</span>
                                </div>
                            </div>
                            <div class="time-list time-list-info">
                                <div class="time-list-left">2014-07-25 10:08:12.769</div>
                                <div class="time-list-right">
                                    <a class="user-name" href="#">朴海航</a>
                                    <span class="user-address">(来自山东 192.106.22.56)</span>
                                    <span class="info">加油了本文章，积分 <b> +2</b></span>
                                    <span class="from from-wap">手机WAP页面</span>
                                </div>
                            </div>
                            <div class="time-list time-list-info">
                                <div class="time-list-left">2014-07-25 09:08:12.769</div>
                                <div class="time-list-right">
                                    <a class="user-name" href="#">殷昭</a>
                                    <span class="user-address">(来自山东 192.106.22.56)</span>
                                    <span class="info">踩了本文章，积分 <b> -100</b></span>
                                    <span class="from from-mac">MAC系统</span>
                                </div>
                            </div>
                            <div class="time-list time-list-info">
                                <div class="time-list-left">2014-07-25 08:08:12.769</div>
                                <div class="time-list-right">
                                    <a class="user-name" href="#">谢姗姗</a>
                                    <span class="user-address">(来自山东 192.106.22.56)</span>
                                    <span class="info">赞了本内容，积分 <b> +70</b></span>
                                    <span class="from from-windows">Windows系统</span>
                                </div>
                            </div>
                            <div class="time-list time-list-info">
                                <div class="time-list-left">2014-07-25 07:08:12.769</div>
                                <div class="time-list-right">
                                    <a class="user-name" href="#">乌云龙</a>
                                    <span class="user-address">(来自山东 192.106.22.56)</span>
                                    <span class="info">加油了本内容，积分 <b> +200</b></span>
                                    <span class="from from-win8">Window8</span>
                                </div>
                            </div>
                            <p class="info-score-tools">
                                <a href="">加油</a>&nbsp;•&nbsp;
                                <a href="">贴条</a>&nbsp;•&nbsp;
                                <a href="">收藏</a>&nbsp;•&nbsp;
                                <a href="">推荐</a>&nbsp;•&nbsp;
                                <a href="">举报</a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="replay-body clearfix">
                    <div class="main-left">
                        <div class="info-user">
                            <a href="#">
                                <img src="__STATIC__/img/demo/101.jpg" width="100" height="100">
                            </a>
                            <i class="info-user-tips"></i>
                        </div>
                    </div>
                    <div class="main-right">
                        <div class="replay-info">
                            <div class="replay-desc"><a href="">前端工程师</a> • 2014-07-25 21:23</div>
                            <p class="replay-text">你这是回答的什么啊，是不是老天故意派来整我的？</p>
                            <div class="replay-input-body">
                                <div class="replay-input-load"><p></p></div>
                                <div class="replay-input">
                                    <textarea name="" id=""></textarea>
                                </div>
                                <span class="replay-tips-notic">还能输入<b>100</b>个字&nbsp;<em>@前端开发专家</em></span>
                                <i class="replay-input-tips"></i>
                            </div>
                            <p class="replay-tool"><a href="">举报</a>&nbsp;&nbsp;<a href="">回复</a></p>
                        </div>
                    </div>
                </div>
                <div class="replay-body clearfix">
                    <div class="main-left">
                        <div class="info-user">
                            <a href="#">
                                <img src="__STATIC__/img/demo/105.jpg" width="100" height="100">
                            </a>
                            <i class="info-user-tips"></i>
                        </div>
                    </div>
                    <div class="main-right">
                        <div class="replay-info">
                            <div class="replay-desc"><a href="">前端工程师</a> • 2014-07-25 21:23</div>
                            <p class="replay-text">你这是回答的什么啊，是不是老天故意派来整我的？</p>
                            <div class="replay-rep replay-rep-even">
                                <p class="replay-rep-txt">
                                    这里是文字内容
                                </p>
                                <a class="user-head">
                                    <img src="__STATIC__/img/demo/103.jpg" width="50" height="50">
                                </a>
                                <span class="replay-rep-desc"><a href="#">前端工程师</a> 2014-07-26</span>
                            </div>
                            <div class="replay-rep replay-rep-odd">
                                <p class="replay-rep-txt">
                                    这里是文字内容
                                </p>
                                <a class="user-head">
                                    <img src="__STATIC__/img/demo/104.jpg" width="50" height="50">
                                </a>
                                <span class="replay-rep-desc"><a href="#">前端工程师</a> 2014-07-26</span>
                            </div>
                            <div class="replay-rep replay-rep-even">
                                <p class="replay-rep-txt">
                                    <b>@前端小王子</b>这里是文字内容
                                </p>
                                <a class="user-head">
                                    <img src="__STATIC__/img/demo/104.jpg" width="50" height="50">
                                </a>
                                <span class="replay-rep-desc"><a href="#">前端工程师</a> 2014-07-26</span>
                            </div>
                            <div class="replay-input-body">
                                <div class="replay-input-load"><p></p></div>
                                <div class="replay-input">
                                    <textarea name="" id=""></textarea>
                                </div>
                                <span class="replay-tips-notic">还能输入<b>100</b>个字&nbsp;<em>@前端开发专家</em></span>
                                <i class="replay-input-tips"></i>
                            </div>
                            <p class="replay-tool"><a href="">举报</a>&nbsp;&nbsp;<a href="">回复</a></p>
                        </div>
                    </div>
                </div>
                <div class="replay-fastpost clearfix">
                    <div class="main-left">&nbsp;</div>
                    <div class="main-right">
                        <div class="replay-post-body">
                            <div class="replay-post-input">
                                <textarea name="content" onfocus="javascript:ResizeTextarea(this,4);" onclick="javascript:ResizeTextarea(this,4);" onkeyup="javascript:ResizeTextarea(this,4);" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kong35"></div>
        {include file="public/footer.tpl"}
    </div>
    
    <script>
    var agt = navigator.userAgent.toLowerCase();
    var is_op = (agt.indexOf("opera") != -1);
    var is_ie = (agt.indexOf("msie") != -1) && document.all && !is_op;
    function ResizeTextarea(a,row){
        if(!a) return
        if(!row) row=2;
        var b=a.value.split("\n");
        var c=is_ie?1:0;
        c+=b.length;
        var d=a.cols;
        if(d<=20){
            d=40
        }
        for(var e=0;e<b.length;e++){
            if(b[e].length>=d){
                c+=Math.ceil(b[e].length/d)
            }
        }
        c=Math.max(c,row);
        if(c!=a.rows){
            a.rows=c;
        }
    }
    </script>

</body>
</html>